<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=linebotappreiwa89fc;AccountKey=kOcVjHDrrPDjcLbYDzsmW8WSmekZz0MxHZHH/msePthebhH/FhvlzDsB8TWGvPQg5e7zJ8NWNvUuFqQTIzQ9yA=="/>
  </appSettings>
</configuration>